# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
*.env

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# System files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Pip cache
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Other
*.bak
*.swp
*.tmp